
.setContainer {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,40%);
    width: 80%;
    color: white;
    background-color: blue;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    padding: 3px;
}

.setBars {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    /* gap: 2px; */
    padding: 2px;
}

.setBar {
    cursor: pointer;
    min-width: 2px;
    border: 1px solid blue;
    height: 12px;
    background-color: white;
}

.complete {
    background-color: green;
}
